.autocomplete-container {
    width: 100%;
    padding: 0 5%;
    padding-top: 0;
  }
  
  .autocomplete-input {
    width: 100%;
    padding: 1.5%;
    border-radius: 5px;
    border: solid 1px purple;
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-size: 1.2em;
  }
  
  .autocomplete-input:focus {
    border: solid 1px aquamarine;
  }
  
  @media only screen and (max-width: 480px) {
    .autocomplete-input {
      padding: 5%;
    }
  }