/* We could name this class better */
.suggestion {
    font-size: 1.2em;
    margin-left: 5%;
  }
  
  .suggestion-status:hover {
      cursor: pointer;
  }
  
  .suggestion-container {
    padding-top: 1.4%;
  }

  .flext-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .flext-container div {
    border: 4px solid white;
    padding: 10px;
  }

.flex-parent-element {
  display: flex;
  width: 50%;
  padding-left: 30;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
  justify-content: center;
}
.flex-title {
  flex: 4;
  margin: 10px;
  justify-content: center;
}

.flex-child-element:first-child {
  margin-right: 70px;
}